.card {
  visibility: visible;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card.hidden {
  visibility: hidden;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
  outline: none;
  border-radius: 0.5rem;
}
