@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Tarjeta amigo */
.card-friend {
  width: 18rem;
}

/* Post */

.user-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-username {
  margin: 0;
}

/* Frases Card */

.custom-card {
  height: fit-content;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

/* Random Dogs */

.image-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.image-wrapper img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/* Navbar */

.navbar {
  background-color: #79c7c7;
  width: 85%;
}

.nav-link {
  transition: color 0.4s ease;
}

.nav-link,
.nav-link:active,
.nav-link:visited {
  color: snow;
}

.nav-link:hover {
  color: #4d5061;
}

.dropdown-toggle:hover {
  color: #4d5061;
}

/* Barra de búsqueda */
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.input-group {
  transition: box-shadow 0.4s, border-radius 0.4s;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(121, 199, 199, 0.5);
  outline: none;
  border-radius: 0.5rem;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(121, 199, 199, 0.5);
  outline: none;
  border-radius: 0.5rem;
}

.input-group:focus-within .bi-search {
  color: #4c9999;
}

/* Login + Register */
.login-form,
.register-form {
  font-family: "Poppins", sans-serif;
  background-color: #ececec;
}

.wrapper-lr {
  background: #ececec;
  padding: 0 20px 0 20px;
}

.main-lr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.h1-lr {
  font-size: 1.5rem;
  font-weight: 600;
}

.row-lr {
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.side-image-login {
  background-image: url("../public/login-background-img.jpg");
  background-position: -150px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.side-image-register {
  background-image: url("../public/register-background-img.jpg");
  background-position: -100px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.right-lr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box-lr {
  width: 330px;
  box-sizing: border-box;
}

.input-box-lr header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}

.input-field-lr {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}

.input-lr {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input-box-lr .input-field-lr label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field-lr .input-lr:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field-lr .input-lr:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.input-field-lr .input-lr:focus,
.input-field-lr .input-lr:valid {
  border-bottom: 1px solid #79c7c7;
}

.submit-lr {
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: 0.4s;
  width: 100%;
}

.submit-lr:hover {
  background: #79c7c7;
  color: #fff;
}

.signin-lr {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

.span-lr a {
  text-decoration: none;
  font-weight: 700;
  color: #79c7c7;
  transition: 0.5s;
}

.span-lr a:hover {
  color: #79c7c7;
  font-weight: 700;
}

.error-lr {
  font-size: 12px;
  margin: -15px 0 10px 0;
  color: #be0e34;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .side-image-login,
  .side-image-register {
    border-radius: 10px 10px 0 0;
    background-position: top;
  }

  .row {
    max-width: 420px;
    width: 100%;
  }
}

/* Acaba Login y register */
