/* AJUSTES PARA ENLACES TEXTO */
.stretched-link {
    text-decoration: none;
  }
  
  .enlace {
    text-decoration: none;
  }

  .benjiEnlace {
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-radius: 2rem;
  }

  .benjiEnlace:hover {
    background-color: burlywood
  }

/* BOTONES LIKE */
.block {
  cursor: pointer;
  transition: all 0.25s ease-out;
  user-select: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

span {
  margin-left: 0.5rem;
};

.block .heart-icon {
  user-select: none;
  fill: transparent;
  transition: transform 0.25s ease-out;
}

.heart-icon .fill-color-shape {
  fill: transparent;
}

.heart-icon.isLiked {
  filter: drop-shadow(0 3px 5px #c44133);
}

.heart-icon.isLiked .fill-color-shape {
  transition: fill 0.5s linear;
  fill: #e74c3c;
}

.heart-icon2.isLiked2 {
  filter: drop-shadow(0 3px 5px #c44133);
}


.heart-icon2.isLiked2 {
  transition: fill 0.5s linear;
  fill: #e74c3c;
}

.block .number-of-likes {
  font-size: 20px;
  user-select: none;
  color: #292d34;
  user-select: none;
}