/* Estilos Main */
.hola{
    color: palevioletred;
    font-size:x-large;
    font-weight: bold;
}

.datos{
    font-weight: bold;
}

.datos2{
    color: gray;
}

.botonera{
    margin-top: 40px;
}

.curriculum{
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    color:white;
    border-radius: 25px;
    background-color: #79C7C7;
    font-weight: bold;
}

.img-thumbnail {
   border: none;
}

#deleteBtn {
    color: red !important;
    background-color: white !important;
    border-color: red !important;
    margin-top: 1rem;
}

#deleteBtn:hover {
    color: white !important;
    background-color: red !important;
    border-color: red;
}