/* BOTONES NAVBAR Y GENERAL */
.btn-navbar {
    border-color: white;
    color: white;
    transition: 0.3;
  }

.btn-navbar:active {
  background-color: rgb(45, 161, 190) !important;
  border-color: #79C7C7 !important;
}  
  
.btn-navbar:hover {
  background-color: rgb(224, 224, 224);
  border-color: white;
  color: #79C7C7;
}

.btn-general {
  background-color: #79C7C7;
  border-color: #79C7C7;
}

.btn-general:active {
  background-color: rgb(45, 161, 190) !important;
  border-color: #79C7C7;
}

.btn-general:hover {
  background-color: rgb(224, 224, 224);
  border-color: #79C7C7;
  color: #79C7C7;
}

/* Botones laterales */
#btn-message {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #79C7C7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 3px;
  transition: 0.2s;
}

#btn-message2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
 
}

#chat1 .form-outline .form-control~.form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
  }
  
  #chat1 .form-outline .form-control~.form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: .65rem 0 0 .65rem;
  }
  
  #chat1 .form-outline .form-control~.form-notch .form-notch-middle {
  flex: 0 0 auto;
  max-width: calc(100% - 1rem);
  height: 300px;
  border-right: none;
  border-left: none;
  }
  
  #chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 300px;
  border-left: none;
  border-radius: 0 .65rem .65rem 0;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: 0.125rem solid #79C7C7;
  border-bottom: 0.125rem solid #79C7C7;
  border-left: 0.125rem solid #79C7C7;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
  #chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #79C7C7;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
  #chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: 0.125rem solid #79C7C7;
  border-bottom: 0.125rem solid #79C7C7;
  border-right: 0.125rem solid #79C7C7;
  }
  
  #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
  #chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
  }
  
  #chat1 .form-outline .form-control:focus~.form-label {
  color: #79C7C7;
  }
  
  #chat1 .form-outline .form-control~.form-label {
  color: #bfbfbf;
  }
  
/* #btn-message:hover {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(225, 225, 225);
}  */
  
  .academia {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 0;
    transition: 0.2s;
  }
  
  .academia:hover {
    background-color: #79C7C7;
    width: 200px;
    border-radius: 10px;
    padding: 3px 5px;
  }